* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top-bar {
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgb(218, 216, 216);
  z-index: 99;
}

.isi:after {
  display: block;
  content: '';
  clear: both;
}

.cari .search {
  float: left;
  margin-left: 120px;
  padding-left: 40px;
  margin-top: 12px;
  height: 32px;
  width: 400px;
  border: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* .search:hover {
  border: 1px solid #46d4f8;
} */

.cari .pencarian {
  margin-top: 13px;
  float: left;
  height: 31px;
  width: 50px;
  background-color: #244B9C;
  color: #FFF;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.pencarian:hover {
  color: rgb(243, 243, 243);
  background-color: #125cfc;
}

.cari ul {
  float: right;
  margin-right: 80px;
}

.cari ul li {
  display: inline-block;
  padding: 18px 2px;
}

.cari ul li a {
  text-decoration: none;
  color: #FFF;
  padding: 8px 13px;
  border-radius: 16px;
  border: 2px solid #244B9C;
  color: #244B9C;
  transition: all 0.3s ease-in-out;
}

.cari ul li a:hover {
  background-color: #244B9C;
  color: #fff;
}

.cari .aktif {
  background-color: #244B9C;
  color: #fff;
}

.cari ul li .aktif:hover {
  background-color: #125cfc;
  border: 2px solid #125cfc;
}

.container {
  width: 1100px;
  margin: 60px auto 1940px;
  background-color: #FFF;
}

.container-dua {
  width: 1100px;
  margin: auto;
  background-color: #FFF;
}

.container img {
  margin: 30px 2px;
  height: 50px;
  width: 240px;
}

.navbar {
  background-color: #244B9C;
  border-radius: 5px;
}

.navigasi {
  background-color: #F0F0F0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.navigasi .navbar ul li {
  display: inline-block;
  padding: 13px 10px;
  margin-left: 10px;
}

.navigasi .navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.navigasi .navbar ul li a:hover {
  color: rgb(255, 206, 71);
}

.navigasi .navbar-dua {
  background-color: #F0F0F0;
  border-radius: 4px;
}

.navigasi ul li {
  display: inline-block;
  padding: 13px 10px;
  margin-left: 10px;
}

.navigasi ul li a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

.navigasi ul li a:hover {
  color: #15367c;
}

.pembungkus {
  width: 1100px;
  margin: 30px auto 0;
  background-color: #FFF;
}

.pembungkus-devisi {
  width: 1100px;
  margin: 0px auto;
  background-color: #FFF;
}

.pembungkus h3 {
  text-align: center;
}

.pembungkus-devisi h2 {
  text-align: left;
  margin-left: 10px;
  margin-top: 12px;
}

.section {
  padding: 5px 0;
}

.box {
  background-color: #fff;
  /* border: 1px solid #ccc; */
  padding: 1px;
  box-sizing: border-box;

}

.box::after {
  display: block;
  content: '';
  clear: both;
}

.box a {
  text-decoration: none;
  color: #000;
}

.col-4 {
  width: 20%;
  height: 320px;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.col-4 img {
  width: 100%;
  height: 100px;
  margin-bottom: 6px;
}

.col-4 p {
  color: #000000;
  float: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all .3s ease-in-out;
}

.box .col-4 p:hover {
  color: #244B9C;
}



.kotak img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 180px;
  border-radius: 6px;
}

.zoom-effect:hover .kotak img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.zoom-effect {
  position: relative;
  width: 100%;
  height: 360px;
  margin: 0 auto;
  overflow: hidden;
}

.kotak {
  position: absolute;
  top: 0;
  left: 0;
}

.container-dua .main {
  width: 720px;
  float: left;
  box-sizing: border-box;
}

.container-dua .divisi {
  width: 720px;
  float: left;
  box-sizing: border-box;
}

.garis {
  margin-top: 40px;
  width: 650px;
}

.container-dua .sidebar {
  width: 360px;
  float: right;
}

.col-10 {
  width: 60%;
  height: 420px;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.bawah {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.col-10 img {
  width: 800px;
  height: 400px;
  margin-bottom: 6px;
  border-radius: 6px;
}

.pembungkus h2 {
  text-align: left;
  margin-left: 10px;
}

.col-10 h3 {
  margin-left: 12px;
  margin-top: 0px;
  line-height: 40px;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all .3s ease-in-out;
}

.col-10 h3:hover {
  color: #ff9102;
}

.sidebar h3 {
  font-size: 20px;
  margin-top: 12px;
  color: rgb(219, 0, 0);
}

.sidebar ul li {
  list-style-type: none;
  margin-top: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  transition: all .3s ease-in-out;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.span {
  color: rgb(179, 174, 174);
  font-size: 22px;
  font-family: cursive;
}

.sidebar ul li a:hover {
  color: rgb(209, 9, 9);
}

.baca {
  background-color: rgb(209, 9, 9);
  width: 176px;
  height: 32px;
  margin: 30px 0 0 55px;
  border-radius: 3px;
  z-index: 100;
}

.baca h4 {
  color: #fff;
  font-family: cursive;
  font-size: 14.3px;
  line-height: 32px;
  margin-left: 8px;
}

.baca:hover {
  opacity: 0.8;
}

.col-6 {
  width: 32%;
  height: 120px;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.col-6 p {
  color: #000000;
  float: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all .3s ease-in-out;
}

.col-6 p:hover {
  color: #244B9C;
}

.pembungkus h3 {
  color: #000;
}

.col-6 img {
  width: 320px;
  height: 200px;
  margin-bottom: 6px;
  border-radius: 6px;
}

.media {
  margin-top: 80px;
}

.media ul {
  margin-left: 80px;
}

.media ul li {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 20px 2px 30px 2px;
  background-color: #125cfc;
  border-radius: 50%;
  line-height: 32px;
}

.media ul li a {
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.media p {
  text-align: center;
  font-size: 13px;
  color: #333;
  font-family: cursive;
}

.media ul li a:hover {
  opacity: 0.8;
}

.media .medsos {
  margin-top: 24px;
  text-align: center;
  font-size: 11px;
  color: #4e4e4e;
  font-family: Arial, Helvetica, sans-serif;
}

.media .fb,
.tw,
.ig,
.li,
.yt {
  text-align: center;
}

.media .fb {
  background-color: #3C5A99;
}

.media .tw {
  background-color: #1DA1F2;
}

.media .ig {
  background-color: #ff095b;
}

.media .li {
  background-color: #0077B5;
}

.media .yt {
  background-color: #FF0000;
}

footer {
  background-color: #F0F0F0;
  width: 100%;
  height: 360px;
  margin-bottom: 20px;
  border-top: 5px solid #15367c;
}

.footer {
  width: 1000px;
  margin: auto;
}

.satu img {
  text-align: center;
  margin-bottom: 15px;
}

.satu p {
  font-size: 12px;
  color: #4b4b4b;
  font-weight: bold;
  font-family: sans-serif;
}

.satu .medsos {
  margin-top: 24px;
  font-size: 11px;
  color: #4e4e4e;
  font-family: Arial, Helvetica, sans-serif;
}

.footer .satu {
  width: 200px;
  float: left;
  margin-top: 55px;
  box-sizing: border-box;
  text-align: center;
}

.satu ul li {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 20px 2px 30px 2px;
  background-color: #125cfc;
  border-radius: 50%;
  line-height: 32px;
}

.satu ul li a {
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.satu .fb {
  background-color: #3C5A99;
}

.satu .tw {
  background-color: #1DA1F2;
}

.satu .ig {
  background-color: #ff095b;
}

.satu .li {
  background-color: #0077B5;
}

.satu .yt {
  background-color: #FF0000;
}

.footer .dua {
  width: 120px;
  float: left;
  padding-left: 80px;
  margin-top: 68px;
}

.dua ul li {
  margin-top: 10px;
  list-style-type: none;
}

.dua ul li a {
  text-decoration: none;
  color: #4e4e4e;
  font-size: 12px;
  font-family: sans-serif;
}

.footer .tiga {
  width: 120px;
  float: left;
  padding-left: 65px;
  margin-top: 68px;
}

.tiga ul li {
  margin-top: 10px;
  list-style-type: none;
}

.tiga ul li a {
  text-decoration: none;
  color: #4e4e4e;
  font-size: 12px;
  font-family: sans-serif;
}

.footer .empat {
  width: 120px;
  float: left;
  padding-left: 65px;
  margin-top: 68px;
}

.empat ul li {
  margin-top: 10px;
  list-style-type: none;
}

.footer h4 {
  font-size: 14.5px;
}

.empat ul li a {
  text-decoration: none;
  color: #4e4e4e;
  font-size: 12px;
  font-family: sans-serif;
}

.footer .lima {
  width: 120px;
  float: left;
  padding-left: 65px;
  margin-top: 68px;
}

.lima ul li {
  margin-top: 10px;
  list-style-type: none;
}

.lima ul li a {
  text-decoration: none;
  color: #4e4e4e;
  font-size: 12px;
  font-family: sans-serif;
}

footer .footer ul li a {
  transition: all .2s ease-in-out;
}

.footer ul li a:hover {
  color: rgb(0, 0, 0);
}